oplexecutor/messagetemplate/TransformRequest.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="transformRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="transformJob">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="resourceID"/>
              <xs:element type="xs:string" name="status"/>
              <xs:element type="xs:byte" name="serviceProviderJobID"/>
              <xs:element type="xs:string" name="priority"/>
              <xs:element name="profiles">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="transformProfile">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element type="xs:string" name="resourceID"/>
                          <xs:element type="xs:anyURI" name="location"/>
                          <xs:element type="xs:date" name="resourceCreationDate"/>
                          <xs:element name="notifyAt">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:anyURI" name="replyTo"/>
                                <xs:element type="xs:anyURI" name="faultTo"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element name="transferAtom">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element type="xs:anyURI" name="destination"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                          <xs:element type="xs:string" name="outputFileNamePattern"/>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="description"/>
                        <xs:attribute type="xs:string" name="name"/>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="version"/>
    </xs:complexType>
  </xs:element>
</xs:schema>
