oplexecutor/custom_schema/QueryJobResponse.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="queryJobResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="jobs">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="job" maxOccurs="unbounded" minOccurs="1">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="resourceID"/>
                    <xs:element type="xs:string" name="location"/>
                    <xs:element type="xs:string" name="resourceCreationDate"/>
                    <xs:element type="xs:string" name="status"/>
                    <xs:element type="xs:string" name="operationName"/>
                    <xs:element type="xs:string" name="jobStartedTime"/>
                    <xs:element type="xs:string" name="jobElapsedTime"/>
                    <xs:element type="xs:string" name="jobCompletedTime"/>
                    <xs:element type="xs:string" name="processed"/>
                  </xs:sequence>
                  <xs:attribute type="xs:byte" name="minOccurs"/>
                  <xs:attribute type="xs:string" name="maxOccurs"/>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
      <xs:attribute type="xs:string" name="version"/>
    </xs:complexType>
  </xs:element>
</xs:schema>