oplexecutor/custom_schema/test.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="test">
    <xs:complexType>
      <xs:sequence>
        <xs:element type="xs:string" name="kind1"/>
        <xs:element type="xs:string" name="kind2"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>